body {
    background-color: #84a9ac;
    color: #fff;
}

h1 {
    margin: 100px auto 100px auto;
    text-align: center;
    font-family: 'Bungee Shade';
}

img {
    width: 30%;
}

@media (max-width: 768px) {
  img{
    width: 60%;
  }
}

.container {
    text-align: center;
}

.navbar {
    padding: 30px 10% 20px;
    background-color: #84a9ac !important;
  }
  .navbar-brand {
    font-family: 'Bungee Inline';
  }
  
  .nav-link {
    font-weight: 600;
  }