@import "anim.css";
/* GENERAL CSS */

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

p {
  font-size: 1.5rem;
}
.title img {
  width: 100%;
}

.title p {
  font-size: 2rem;
}

.title {
  overflow: hidden;
}

hr {
  border-style: dashed none none none;
  border-spacing: 3px;
  border-width: 5px;
  border-color: #fff;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
 
}

/* NAVBAR CSS */

.navbar {
  padding: 30px 10% 20px;
  background-color:  #e4e3e3 !important;
  /* box-shadow: 10px 10px 10px #000; */
}
.navbar-brand {
  font-family: 'Bungee Inline';
}

.nav-link {
  font-weight: 600;
}

.greeting {
  margin-top: 40%;
  font-size: 4rem;
  font-family: 'Bungee Shade';
}

/* HEADING SECTION */

#heading {
  background-color: #e4e3e3;
  padding-top: 100px ;
  padding-bottom: 100px;
}

.content {
  text-align: center;
  animation: left-slide-in 1s both;
}

.landing-image {
  animation: right-slide-in 1s both;
}


/* ABOUT SECTION */

#about {
  background-color: #84a9ac;
  padding-top: 100px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 100px;
  text-align: center;
  color: #fff;

}



#about img { 
  width: 70%;
  padding-bottom: 50px;
 
}

.col-md-6 .about-txt {
  text-align: justify;
  padding-bottom: 20px;
  width: 100%;
}


/* FOOTER */

#footer {
  text-align: center;
  background-color: #3b6978;
  color: #fff;
  padding: 30px;
  
}


#footer p {
  font-size: 1rem;
}

.fa-envelope {
  color: #fff;

}

.fa-envelope:hover {
  color: #f4f4f4
}
